.cuerpo {
    margin: 0;
    padding: 0;
    background: url('../img/23181124_6757291.jpg') no-repeat center center fixed;
    background-size: cover;
}
.cuerpo1 {
    margin: 0;
    padding: 0;
    background: url('../img/23181124_6757291.jpg') no-repeat center center fixed;
    background-size: cover;
}

.contenedor {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 20px;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin: 100px auto;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rojo{
    color: darkred;
}

.gris{
    background-color: #d7d7d7;
    border: 2px solid black;
    text-align: center;
    padding: 6px 0 6px 0;
}

.errorInput{
    border: 2px solid darkred;
}

.validarInput{
    border: 2px solid green;
}

table{
    border-collapse: collapse;
}
th, td{
    border: 1px solid black;
}

.sin-borde{
    border: none;
}

input{
    border-top: white;
    border-right: white;
    border-left: white;
    border-bottom: 1px solid black;
}

